

*{
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: aqua;
}
.tittle{
    width=100%
    height=90px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.tittleimg{
    height: 80px;
}
.tittlespan{
    font-size: 60px;
    color: blue;
}
.Nav{
    width: 100%;
    height:50px ;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav p a{
    text-decoration: none;
    color: azure;
    font-size: 25px;
    
}
.content{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px gray;
}
.content{
    font-size: 20px;
    line-height: 1.6;
}